# Created by .ignore support plugin (hsz.mobi)
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
*.mo
*.pot
*.log
local_settings.py
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
.python-version
celerybeat-schedule
*.sage.py
.env
.venv
venv/
ENV/
.spyderproject
.ropeproject
.idea/
.iml
*.iml
*.DS_Store
*.project
*.settings/
*.classpath

lib/
!app/eai-pipeline-builder-api/src/main/resources/static/swagger/lib/
!core/eai-manager-deployer-api/src/main/resources/static/swagger/lib/
!commons/razorthink-swagger-ui/src/main/resources/static/swagger/lib/

core/eai-manager-deployer-api/src/main/resources/client-routes/routes-client.properties
app/eai-pipeline-builder-api/src/main/resources/client-routes/routes-client.properties

docker/bigbrain-pipeline-app/resources/
!docker/bigbrain-pipeline-app/resources/start-apps.sh
